

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    font-family: "Poppins", sans-serif;
    /* ---------------- Text ---------------- */

    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-800: 800;

    /* ---------------- Färg ---------------- */
    --accent-clr: #be6426;
    --primary-clr: #46797f;
    --secondary-clr: #d0f8fa;
    --light-clr: blanchedalmond;
    --dark-clr: #002027;
}

body {

    background-color: var(--primary-clr);
    margin: 0;
    padding: 0;
}

.body-container {
    max-width: 1134px;
    margin: auto;
    background-color: var(--light-clr);
    padding-bottom: 10px;
}

header {
    background-color: black;
    color: var(--light-clr);
    position: relative;
    max-height: 533px;
}

.lux {
    position: absolute;
    top: 58%;
    left: 238px;
    font-size: 2em;
    font-weight: 700;
    color: var(--primary-clr);
}

.bg {
    max-width: 800px;
    max-height: 533px;
}

h1 {
    position: absolute;
    top: -42px;
    left: 655px;
    text-transform: uppercase;
    font-size: 8em;
}

h1>span {
    display: block;
    font-size: 3rem;
    color: var(--accent-clr)
}


.order-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.coffee-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.coffee-name {
    font-size: 18px;
}

.quantity-buttons {
    display: flex;
    align-items: center;
}

.quantity-buttons button {
    background-color: var(--primary-clr);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 4px;
}