@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url("crows.png");
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aqua;
}

.content {
  font-size: 2rem;
  text-transform: uppercase;
}

.btn-popup {
  width: 100%;
  height: 55px;
  background: transparent;
  border: 2px solid aqua;
  outline: none;
  border-radius: 6px;
  color: aqua;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}


.btn-popup:hover{
    background-color: aqua;
    color: black;
}

.login, .regg{
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    width: 400px;
    height: 440px;
    box-shadow: 0 0 30px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.hidden{
    display: none;
}


.close {
    font-size: 2em;
    align-self: end;
    padding-right: 20px;
    cursor: pointer;
}

h2 {
    font-size: 2em;
}

form{
    padding: 0px 40px;
}

.input-box{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid aqua;
    margin: 30px 0;
}

.input-box label {
    font-size: 1.1em;
}

.input-box input {
   width: 100%;
   background: transparent;
   outline: none;
   border: none;
   color: aqua;
   font-size: 1em;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #162938;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    color: aliceblue;
}

.reg-text {
    font-size: 0.9em;
    text-align: center;
    margin: 25px 0;
}

.reg-text a {
    color: aliceblue;
}