:root {
    --primary-color: rgb(88, 23, 51);
    --background-color: pink;
    --text-color: white;
    --hover-scale: 200%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 5rem auto;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

h2 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
}

p {
    font-size: 1.5rem;
}

#new-note, #go-back {
    color: var(--primary-color);
    font-size: 2rem;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 2rem 0 2rem 0;
}

ul {
    list-style-type: none; 
    min-height: 200px;
    width: 100%; 
    margin: 0.5rem 0 2rem 0;
    padding: 1rem;
    background-color: var(--text-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    text-align: center;
}

li {
    margin: 0.5rem;
}

.note-item a {
    color: var(--primary-color);
    text-decoration: none; 
    transition: all 0.5s;
    font-size: 1.5rem;
}

.note-item a:hover {
    font-size: var(--hover-scale); 
    color: var(--primary-color);
}

.button {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 2rem;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    display: block;
    margin: 1rem auto 2rem auto;
}

.clear-button:hover {
    background-color: rgb(63, 16, 36);
}

textarea {
    border: 2px solid var(--primary-color);
    min-height: 200px;
    width: 100%;
    margin: 0.5rem 0 2rem 0;
    padding: 2rem;
    font-size: 1.5rem;
    color: var(--primary-color);
}

#note-content {
    min-height: 200px;
    width: 100%; 
    margin: 0.5rem 0 2rem 0;
    padding: 1rem;
    background-color: var(--text-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.5rem;
}
