.container{
    height: 2000px;
}

.bg-color{
    width: 200px;
    height: 200px;
background-color: aqua;}


.color {
    background-color: cadetblue;
}


.text-styling {
    font-style: italic;
    color: red;
}